.window {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.display {
    display: none;
}

.but {
    margin-bottom: 200px;
}
.pos {
    position: absolute;
    font-size: 36px;
    top: -4px;
    right: -1px;
}